@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

:root {
  --blue: #044962;
  --blueDark: #010f14;
  --green: #00aabc;
  --grey: #a6b9c0;
  --lightGrey: #e9e9ed;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
}

header {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 5rem;
  padding: 1rem;
  color: #fff;
  background-color: var(--blue);
}

nav ul {
  display: flex;
  list-style: none;
}

.nav-item {
  margin: 1rem;
}

.nav-item a {
  text-decoration: none;
  color: #fff;
}

.nav-item a:hover {
  color: var(--blueDark);
  cursor: pointer;
}

.logo {
  margin: 0 3rem;
  font-size: 2rem;
  font-weight: 700;
}
.nav-item {
  margin-right: 2rem;
  font-size: 1rem;
}

.home,
.stocks,
.about-section,
.show-stock {
  margin: 2rem 6rem;
  font-size: 1.2rem;
}

.stocks {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  min-width: 800px;
}

.stocks h2 {
  text-align: center;
  margin: 1rem auto;
}

.stocks-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-element {
  flex: 1;
  text-align: left;
  margin-left: 10rem;
  margin-right: 0;
}

.right-elements {
  flex: 1;
  text-align: right;
  display: flex;
  justify-content: end;
}

.right-element {
  margin-right: 5rem;
}

.show-stock {
  width: 25rem;
  padding: 1rem;
  color: #fff;
  background-color: var(--blue);
  border-radius: 0.5rem;
}

.show-stock h2 {
  font-weight: 700;
  font-size: 1.8rem;
}

h3 {
  margin: 1rem 0;
}
